@import url("globals.css");
@import url("fonts.css");
@import url("container.css");
@import url("visually-hidden.css");
@import url("../main-navigation/main-navigation.css");
@import url("../main-navigation/logo/logo.css");
@import url("../main-navigation/site-navigation/site-navigation.css");
@import url("../content/content.css");
@import url("../content/content__image/content__image.css");
@import url("../content/content__image-saw/content__image-saw.css");
@import url("../features/features.css");
@import url("../search-hotels/search-hotels.css");
@import url("../modal-search-hotels/modal-search-hotels.css");
@import url("../modal-search-hotels/modal-show.css");
@import url("../modal-search-hotels/search-hotels__numbers.css");
@import url("../modal-search-hotels/search-hotels--wrapper.css");
@import url("../modal-search-hotels/button/search-hotels.css");
@import url("../modal-search-hotels/button/switch/switch.css");
@import url("../modal-search-hotels/button/switch/switch-minus--adults.css");
@import url("../modal-search-hotels/button/switch/switch-minus--child.css");
@import url("../modal-search-hotels/button/switch/switch-plus--adults.css");
@import url("../modal-search-hotels/button/switch/switch-plus--child.css");
@import url("../modal-search-hotels/input/input.css");
@import url("../modal-search-hotels/input/numbers/input--numbers.css");
@import url("../modal-search-hotels/input/numbers/input--numbers_second.css");
@import url("../modal-search-hotels/label/label.css");

@import url("../footer-social/footer-social.css");
@import url("../footer-social/footer-social--main.css");
@import url("../footer-social/social-buttons/social-buttons.css");
@import url("../footer-social/social-buttons/social-button/social-button.css");
@import url("../footer-social/copyrights.css");
@import url("../map/map.css");
.sorting {
  display: flex;

  margin: 0;
  padding-top: 30px;
  padding-right: 72px;
  padding-bottom: 30px;
  padding-left: 72px;

  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}
.sorting__heading {
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-right: 48px;
}

.catalog-sorting {
  width: 888px;
  display: flex;
  justify-content: space-between;

  text-transform: uppercase;
  padding-top: 5px;
}
.catalog-sorting__heading {
  width: 80px;

  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  margin: 0 ;
  margin-right: 35px;
  padding: 0;
}

.catalog-sorting:last-child {
  margin-right: auto;
}
.sorting-list {
  list-style: none;
  display: flex;

  font-size: 12px;
  line-height: 18px;
  margin: 0;
  margin-right: auto;
  padding:0;
}

.sorting-item {
  margin-right: 32px;

  color: #c6c6c6;
}
.sorting-item-current {
  margin-right: 32px;

  color: #81b3d2;

  text-decoration: none;
}

.button-sorting-down,
.button-sorting-up {
  position: relative;
}
.button-sorting-up::before {
  content: "";
  position: absolute;
  left: 473px;
  top: 5px;

  width: 0;
  height: 0;

  border: 5px solid transparent;
  border-bottom: 10px solid #cacaca;
  border-top: 0;
  cursor: pointer;
}
.button-sorting-down::before {
  content: "";
  position: absolute;
  left: 497px;
  top: 5px;
  
  width: 0;
  height: 0;

  border: 5px solid transparent;
  border-top: 10px solid #81b3d2;
  cursor: pointer;
}
