.search-hotels__number-switch-plus {
  position: absolute;
  outline: none;
  
  width: 39px;
  height: 39px;
  
  font-size: 0;
  
  cursor: pointer;
  background-image: url("plus.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  border: 0;
  
  -webkit-transition: background-image 0.3s;
  -o-transition: background-image 0.3s;
  transition: background-image 0.3s;
}

.search-hotels__number-switch-minus {
  position: absolute;
  outline: none;
  
  width: 39px;
  height: 39px;
  
  font-size: 0;
  
  cursor: pointer;
  background-image: url("minus.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  border: 0;
  
  -webkit-transition: background-image 0.3s;
  -o-transition: background-image 0.3s;
  transition: background-image 0.3s;
}

.search-hotels__number-switch-minus:hover,
.search-hotels__number-switch-minus:focus {
  background-image: url("minus-focus.png");
}

.search-hotels__number-switch-minus.disabled,
.search-hotels__number-switch-minus.disabled:hover {
  background-image: url("minus.png");
}

.search-hotels__number-switch-plus:hover,
.search-hotels__number-switch-plus:focus {
  background-image: url("plus-focus.png");
}

.search-hotels__number-switch-plus.disabled,
.search-hotels__number-switch-plus.disabled:hover {
  background-image: url("plus.png");
}