.search-hotels__label {
  padding: 0;
  padding-right: 10px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  color: #000000;
}
.search-hotels__label:not(.search-hotels__input--numbers)::after {
  content: "";
  position: absolute;
  top: 63px;
  right: 63px;

  width: 22px;
  height: 21px;

  background-image: url("../img/calendar.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.search-hotels__label_second::after {
  top: 128px;
}
