.copyrights {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 200px;
}

.copyrights p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;

  margin: auto 0;
  padding: 0;
}

.copyrights b {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  margin: auto 0;
  padding: 0;
}
