.search-hotels__input {
  outline: none;
  box-sizing: border-box;
  width: 346px;
  padding-top: 5px;
  padding-right: 35px;
  padding-left: 12px;
  padding-bottom: 6px;

  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;

  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  cursor: pointer;
  
  -webkit-transition: background-color, border, 0.3s;
  -o-transition: background-color, border, 0.3s;
  transition: background-color, border, 0.3s;
}

.search-hotels__input:not(.search-hotels__input--numbers):hover,
.search-hotels__input:not(.search-hotels__input--numbers):focus,
.search-hotels__input:not(.search-hotels__input--numbers):active {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
