.range-controls {
  position: relative;
  height: 20px;
  margin-bottom: 16px;

  background: transparent;
}
.range-controls .scale {
  height: 2px;
  background: #918381;
}
.range-controls .bar {
  width: 85%;
  height: 2px;
  background: #ffffff;
}
.range-controls .toggle {
  position: absolute;
  top: -7px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-max {
  left: 253px;
}
