.modal-search-hotels {
  position: absolute;
  top: -118px;
  right: calc((100% - 568px)/2);

  display: block;
  width: 568px;
  box-sizing: border-box;
  padding-top: 55px;
  padding-right: 55px;
  padding-left: 55px;
  padding-bottom: 55px;
  margin-left: -480px;

  color: #000000;
	background-color: #ffffff;
	z-index: -1;
	opacity: 0;
	-webkit-transition: top, opacity, 0.3s;
    -o-transition: top, opacity, 0.3s;
    transition: top, opacity, 0.3s;
}
