.modal-search-hotels {
  position: absolute;
	top: 204%;
  right: 35.1%;
  z-index: 2;

	display: none;
  width: 568px;
  box-sizing: border-box;
  padding-top: 55px;
  padding-right: 55px;
  padding-left: 55px;
  padding-bottom: 55px;
  margin-left: -480px;

  color: #000000;
  background-color: #ffffff;
}
