.catalog-sorting {
  width: 888px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 5px;

  text-transform: uppercase;
}

.catalog-sorting:last-child {
  margin-right: auto;
}
