.search-hotels__label {
  position: relative;
  padding: 0;
  padding-right: 10px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  color: #000000;
  
  -webkit-transition: background-image 0.3s;
  -o-transition: background-image 0.3s;
  transition: background-image 0.3s;
}

.search-hotels__label:not(.search-hotels__label--numbers)::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 427px;
  
  width: 22px;
  height: 21px;
  
  background-image: url("calendar.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

.search-hotels__label:not(.search-hotels__label--numbers):hover::after,
.search-hotels__label:not(.search-hotels__label--numbers):focus::after {
  background-image: url("calendar-focus.png");
}

.search-hotels__label:not(.search-hotels__label--numbers):active::after {
  background-image: url("calendar-active.png");
}