.search-hotels__number-switch-plus--adults {
  top: 190px;
  left: 243px;
}

.search-hotels__number-switch-plus--adults::before,
.search-hotels__number-switch-plus--adults::after {
  position: absolute;
  content: "";
  top: 45%;
  left: -63px;

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
}

.search-hotels__number-switch-plus--adults::after {
  left: 12px;
}
