.search-hotels__number-switch-minus,
.search-hotels__number-switch-plus {
  position: absolute;
  outline: none;

  width: 38px;
  height: 36px;

  font-size: 0;

  cursor: pointer;
  background-color: #f2f2f2;
  border: 0;
}
