.search-hotels__number-switch-minus--child {
  top: 190px;
  left: 400px;
}

.search-hotels__number-switch-minus--child::before {
  position: absolute;
  content: "";
  top: 45%;
  left: -145px;

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;

  transform: rotate(-90deg);
}
