.main-navigation {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;

  margin-bottom: 566px;

  color: #000000;
  background-color: #ffffff;
  background-image: url("../main-img/main-img.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
