.button--search-hotels {
  width: 100%;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  background-color: #81b3d2;
}
.button--search-hotels:hover,
.button--search-hotels:focus {
  background-color: #669ec0;
}
.button--search-hotels:active {
  background-color: #5496bd;
  color: #88b6d1;
}
