.features {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding-top: 56px;
}
.features__heading {
  max-width: 450px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;

  text-transform: uppercase;
  text-align: center;
}
.features__subtitle {
  font-size: 14px;
  line-height: 26px;

  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  color: #333333;
}
.features__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.feature--significant {
  width: 1200px;
  display: flex;

  letter-spacing: 0;
  background-color: #81b3d2;
  color: #ffffff;
}
.feature__heading {
  max-width: 151px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;

  margin: auto;
  margin-top: 46px;
  margin-bottom: 25px;
  text-align: center;
}

.feature__number {
  font-size: 14px;
  line-height: 21px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 22px;
  text-align: center;
}

.feature__picture {
  width: 800px;
  height: 256px;
}
.feature__info {
  width: 400px;
}
.feature__sub-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.feature__sub-item {
  width: 400px;

  background-color: #ffffff;
}
.feature__sub-icon {
  display: block;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 27px;

}
.feature__sub-heading {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;

  margin: auto;
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
}
.feature__sub-text {
  max-width: 290px;
  font-size: 14px;
  line-height: 21px;

  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  text-align: center;
  color: #333333;
}
.feature__heading {
  max-width: 151px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;

  margin: auto;
  margin-top: 46px;
  margin-bottom: 25px;
  text-align: center;
}

.feature__text {
  width: 287px;

  font-size: 14px;
  line-height: 21px;

  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 57px;
  text-align: center;

  letter-spacing: 0.2px;
}

.feature__text--significant {
  width: 315px;
}

.feature:nth-child(n+3) {
  display: block;
  width: 400px;
  color: #333333;
}
